{% extends "base.html" %}
{% load static %}
{% block index %}
  

    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="{% static 'img/r.jpg' %}" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                    style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h3 class="text-white text-uppercase mb-3 animated slideInDown">Best PTE Courses</h3>
                                <h1 class="display-3 text-white animated slideInDown">PTE Academics</h1>
                                <h2 class="text-trinary text-uppercase mb-3 animated slideInDown"
                                    style="color: #fafaff;">Reading</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="{% static 'img/l.jpg' %}" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                    style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h3 class="text-white text-uppercase mb-3 animated slideInDown">Best PTE Courses</h3>
                                <h1 class="display-3 text-white animated slideInDown">PTE Academics</h1>
                                <h2 class="text-trinary text-uppercase mb-3 animated slideInDown"
                                    style="color: #fafaff;">Listening</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="{% static 'img/w.jpg' %}" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                    style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h3 class="text-white text-uppercase mb-3 animated slideInDown">Best PTE Courses</h3>
                                <h1 class="display-3 text-white animated slideInDown">PTE Academics</h1>
                                <h2 class="text-trinary text-uppercase mb-3 animated slideInDown"
                                    style="color: #fafaff;">Writing</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="{% static 'img/s.jpg' %}" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                    style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h3 class="text-white text-uppercase mb-3 animated slideInDown">Best PTE Courses</h3>
                                <h1 class="display-3 text-white animated slideInDown">PTE Academics</h1>
                                <h2 class="text-trinary text-uppercase mb-3 animated slideInDown"
                                    style="color: #fafaff;">Speaking</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Carousel End -->

    <div class="container py-5">
        <div class="card-group">
          
            <div class="card bg-trinary border mb-3 mx-2">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <a href="">
                            <i class="fas fa-3x fa-info-circle text-trinary mb-4" style="color: #0407ff;"></i>
                            
                            <h4 class="mb-3" style="color: #0407ff;">Introduction <br><br> </h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card bg-trinary border mb-3 mx-2">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <a href="">
                            <i class="fas fa-3x fa-microphone text-trinary mb-4" style="color: #0407ff;"></i>
                            <h4 class="mb-3" style="color: #0407ff;">PTE <br> Speaking </h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card bg-trinary border mb-3 mx-2">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <a href="">
                            <i class="fas fa-3x fa-pencil-alt text-trinary mb-4" style="color: #0407ff;"></i>
                            <h4 class="mb-3" style="color: #0407ff;">PTE <br>Writing</h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card bg-trinary border mb-3 mx-2">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <a href="">
                            <i class="fas fa-3x fa-book-open text-trinary mb-4" style="color: #0407ff;"></i>
                            <h4 class="mb-3" style="color: #0407ff;">PTE <br> Reading</h4>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Repeat the same for other cards -->
            <div class="card bg-trinary border mb-3 mx-2">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <a href="">
                            <i class="fas fa-3x fa-headphones text-trinary mb-4" style="color: #0407ff;"></i>
                            <h4 class="mb-3" style="color: #0407ff;">PTE <br>Listening</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            {% for about in abouts  %}  
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative h-100">
                        <br>
                        <br>
                        <img class="img-fluid w-100" src="{{ about.image.url }}" alt=""> <!-- Set the height value, for example, 300px -->
                    </div>
                </div>
                
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 style="color: #0407ff;" class="section-title bg-white text-start text-trinary pe-3">Message</h6>
                    <h1 class="mb-4">{{about.title}}</h1>
                    <p class="mb-4">
                       {{about.description|linebreaks }}</p>

                    <a class="btn btn-trinary py-3 px-5 mt-2" href="">Read More</a>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>



   {% endblock index %}
