{% extends "base.html" %}
{% block login %}{% load crispy_forms_tags %}
{% load crispy_forms_tags %}
<main>
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">


            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                  <p class="text-center small">Enter your username & password to login</p>
                </div>


                <form method="post" action="{% url 'login' %}">
                  {% csrf_token %}
                  {{ form|crispy }}


                  <div class="col-12">
                    <br>

                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit"
                      style="background-color: #0407ff; color: white;">Login</button>
                  </div>
                  <br>
                  <div class="col-12">
                    <p style="color: #0407ff;" class="small mb-0">Don't have an account? <a href="{% url 'enroll' %}"
                        style="color: #0407ff;">Enrol</a></p>
                  </div>
                </form>

              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

  </div>
</main><!-- End #main -->



{% endblock login %}